name: JetNews

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        working-directory: JetNews
        run: ./gradlew packageDebug
      - uses: mobile-dev-inc/action-upload@v2.0.0
        working-directory: JetNews
        with:
          api-key: ${{ secrets.MOBILE_DEV_API_KEY }}
          name: ${{ github.sha }}
          app-file: app/build/outputs/apk/debug/app-debug.apk
