name: JetNews

on:
  workflow_dispatch:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build
        working-directory: JetNews
        run: ./gradlew packageDebug
      - uses: mobile-dev-inc/action-maestro-cloud@v1.3.1-preview-2
        with:
          api-key: ${{ secrets.MOBILE_DEV_API_KEY }}
          app-file: ./JetNews/app/build/outputs/apk/debug/*.apk
          workspace: JetNews/.maestro
          env: |
            TEXT=Top stories for you
            URL=https://some-domain.com?foo=bar&bar=baz
